<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="<%= cats_url %>">Cats</a></li>
      <li><a href="<%= new_cat_url %>">Create Cat</a></li>
      <li><a href="<%= new_cat_rental_request_url %>">Create request</a></li>
    </ul>
  </div>
</nav>
